In [ ]:
#for the love of loops, let's start with for loops!

# lets say we want to print numbers from 1 to 10. 
# Yes it's easy to just use 10 print statements, but that's tedious right?
# How about doing it in 2 lines!

for i in range(1,11):
    print (i)
    
# range is used to define our limits, ie, range(1,11) = numbers from 1 to 10. 
# Yes, the limit ends one step ahead of the number stated.

1
2
3
4
5
6
7
8
9
10

loops in python

~ for loop in python

In [ ]:
#Program to find the sum of all numbers stored in a list

numbers = [5, 5, 9, 8, 4, 2, 5, 4, 1] 

sum = 0 #variable to store the sum

for val in numbers: # iterate over the list
	sum = sum+val

print(f"The sum of the numbers in list is, {sum}")

The sum of the numbers in list is, 43

In [ ]:
#Program to print special character using loop
for i in range(1,10): #outer loop 
	for j in range(1, i): #inner loop
		print( "*", end=' ')

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

In [ ]:
#Program to print special character in a peculiar design using loop
for i in range(1,10): #outer loop for i=1(1st cycle)
  for j in range(1,i): #inner loop j= range(1,1), hence peint "*"
    print("*",end=' ') # to print horixontally
  print("\n") #new line after the inner loop ends

*

* *

* * *

* * * *

* * * * *

* * * * * *

* * * * * * *

* * * * * * * *

Note : Above two codes are similar with different indentation and hence the output is different.

In [ ]:
#program to print odd and even numbers in list sepeatly

numlist = [1,2,3,4,5,6,7,8,9,10]

evenlist=[] #variable to store the even no. list
oddlist=[] #variable to store the odd no. list

for i in numlist:
  if i%2==0:
    evenlist.append(i) #to add items in the list
  else:
    oddlist.append(i) #to add items in the list
  i=i+1 #iteration of loop
  
print(evenlist)
print(oddlist)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]